[submodule "SimulationPortal--Main"]
	path = SimulationPortal--Main
	url = git@github.com:INSM-TUM/SimulationPortal--Main.git
	branch = main
[submodule "SimulationPortal--Scylla-Container"]
	path = SimulationPortal--Scylla-Container
	url = git@github.com:INSM-TUM/SimulationPortal--Scylla-Container.git
	branch = main
