[submodule "SimulationPortal--Main"]
	path = SimulationPortal--Main
	url = git@github.com:INSM-TUM/SimulationPortal--Main.git
	branch = main
[submodule "Scylla-Container"]
	path = Scylla-Container
	url = git@github.com:INSM-TUM/Scylla-Container.git
	branch = main
